.load {
    display: flex;
    width: 10%;
    height: 120px;
}

.close {
    width: 22px;
    height: 22px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 110px;
    align-items: right;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: black;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.edit-book .group {
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}

.load-image {
  width: 100px;
  height: 100px;
}

  
.edit-book input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.edit-book  input:focus {
    outline: none;
}

.edit-book label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.edit-book  input:focus ~ label, input:valid ~ label{
    top: -15px;
    font-size: 14px;
    color: #5264AE;
}
  
.edit-book .bar {
    position: relative;
    display: block;
    width: 320px;
}

.edit-book .bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.edit-book .bar:before {
    left: 50%;
}
  
.edit-book .bar:after {
    right: 50%;
}

  
.edit-book input:focus ~ .bar:before,
.edit-book  input:focus ~ .bar:after {
    width: 50%;
}